<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><img src="../galaxy_logo.png" alt="Smiley face" height="42" width="42"> </li>
	    		</ul>
				<img id=logo href="galaxy_logo.png" alt="Logo" height="42" width="42">
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sitilop@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/edvac">github.com/edvac</a></li>
				</ul>
			</footer>
		</body>
	</html>
